@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--theme-color: #171527;
	--theme-color-dark: #222037;
	--theme-border-color: rgb(255 255 255 / 0.1);
	--drum-pad-color: #2d294a;
	font-family: 'Karla', sans-serif;
	background-color: var(--theme-color-dark);
	color: #d8d8d8e6;
}